<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>WebNotes</title>
    <link rel="stylesheet" type="text/css" href="static/baseStyle.css">
    {% block header %}
    {% endblock %}
</head>

<body>
    <div class="pageClass">
        <div class="headerClass">
            <h1>OD WebNotes</h1>
        </div>
        <div class="navClass">
            <nav>
                <div class="navLinkClass">
                    <a href="/base">Base</a>
                </div>
                <div class="navLinkClass">
                    <a href="/register">Register</a>
                </div>
                <div class="navLinkClass">
                    <a href="/login">Login</a>
                </div>
                <div class="navLinkClass">
                    <a href="/changepassword">Change Password</a>
                </div>
                <div class="navLinkClass">
                    <a href="/dashboard">Dashboard</a>
                </div>
                <div class="navLinkClass">
                    <a href="/addNote">Add Note</a>
                </div>
                <div style="clear: both"></div>
            </nav>
        </div>
        <div class="mainClass">
            {% block content %}
            {{ message }}
            {% endblock %}
        </div>
        <footer>
            OD 2019 | Paweł Zych
        </footer>
    </div>
</body>

</html>