{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="static/registerStyle.css">
{% endblock %}

{% block content %}
<div class="formClass">
    <div class="formheaderClass">
        <a href="/logout">Wyloguj</a>
        <br>
        <br>
        Witaj {{ email }}!
        <br>
        <br>
        <h3>Zmiana hasła:</h3>
    </div>
    <div class="descFormClass">
        <div class="descTextFormClass"> Hasło: </div>
        <div class="descTextFormClass"> Nowe Hasło: </div>
        <div class="descTextFormClass"> Powtórz Nowe Hasło: </div>
    </div>
    <div class="formInputClass">
        <section>
            <form id="formRegister" method="POST" action="" enctype="multipart/form-data">
                <div class="formDivClass"> <input id="oldpasswordForm" class="formElement" name="oldpassword" type="password" /></div>
                <div class="formDivClass"> <input id="passwordForm" class="formElement" name="password" type="password" />
                </div>
                <div class="formDivClass"> <input id="repasswordForm" class="formElement" name="repassword" type="password" />
                </div>
                <div class="formDivClass"> <input id="submitForm" class="formElement" name="Zmień hasło" type="submit"/>
                </div>
            </form>
        </section>
    </div>
    <div class="errClass">
        <div class="errTextClass"> {{oldpasswordErr}} </div>
        <div class="errTextClass"> {{passwordErr}} </div>
    </div>
    <div style="clear:both"></div>
</div>
{% endblock %}